backend/node_modules
frontend/node_modules
mobile/.dart_tool
mobile/build
mobile/.pub-cache
mobile/ios/Flutter/.last_build_id
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Pods/
mobile/ios/Runner/GeneratedPluginRegistrant.*
mobile/.metadata
mobile/.gitignore
mobile/ios
mobile/macos
mobile/web
mobile/windows
mobile/linux

frontend/.gitignore
backend/.gitignore
frontend/.env
backend/.env
mobile/.env
.env

*.log
*.db
frontend/.DS_Store
backend/.DS_Store
mobile/.DS_Store
frontend/public


# DNTCommit 
dntcommit-generated.md